<template>
  <h1>Comment</h1>
  <h2 class="text-center">{{question.question}}</h2>
  <form class="flex-comment-container">
    <textarea v-model="comment" class="flex-item" rows="10">
      
    </textarea>
    <div>
        <a @click="updateVote()" v-link="{ name: 'home'}" class="flex-item btn btn-primary">Ok</a>
        <a v-link="{ name: 'home'}" class="flex-item btn btn-primary">Cancel</a>
        <!-- <button class="flex-item btn btn-primary">Results</button> -->
    </div>

  </form>
</template>

<style lang="css">
  .flex-comment-container {
    display: flex;
    flex-direction: column;
  }

  .flex-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>

<script>
import questionsStore from '../store/questions-store'
import votesStore from '../store/votes-store'

export default {
  data: function () {
    return {
      'comment': '',
      'question': {}
    }
  },
  methods: {
    updateVote () {
      return votesStore.update({'comment': this.comment}).then((data) => {
        console.log('Updated vote with comment!')
      })
    }
  },
  route: {
    activate: function (transition) {
      if (!votesStore.currentVote) {
        transition.abort('Cannot comment without first putting in a vote for a question!')
      } else {
        transition.next()
      }
    },
    data: function (transition) {
      let data = {}
      data = {
        'comment': votesStore.currentVote.comment,
        'question': questionsStore.currentQuestion
      }
      transition.next(data)
    }
  }
}
</script>