<template>
    <h1>Questions</h1>
    <div v-if="$loadingRouteData">Loading ...</div>
    <ul v-if="!$loadingRouteData" class="list-group">
        <li v-for="question in questions"
            class="list-group-item"
        >
          {{question.question}}
          <a @click="storeQuestion(question)" v-link="{ name: 'vote'}"
             class="btn btn-info"
          >
            Vote
          </a>
        </li>
    </ul>
</template>

<script>

import questionsStore from '../store/questions-store'
import votesStore from '../store/votes-store'

export default {
  data: function () {
    return {
      questions: []
    }
  },
  methods: {
    storeQuestion: function (question) {
      questionsStore.currentQuestion = question
      votesStore.currentVote = undefined
    }
  },
  route: {
    data: function (transition) {
      if (questionsStore.questions) {
        console.log('Retrieving from cache!')
        transition.next({
          'questions': questionsStore.questions
        })
      } else {
        console.log('Retrieving from db!')
        return questionsStore
          .refresh()
          .then(function (questions) {
            return { 'questions': questions}
          })
      }
    }
  }
}
</script>