<template>
    <h1>Vote</h1>
    <h2 class="text-center">{{question.question}}</h1>
    <div class="flex-vote-container">
        <a v-link="{ name: 'comment' }" @click="storeVote(3)" class="flex-vote-item">
          <i class="fa fa-smile-o face-icon"></i>
        </a>
        <a v-link="{ name: 'comment' }" @click="storeVote(2)" class="flex-vote-item">
          <i class="fa fa-meh-o face-icon"></i>
        </a>
        <a v-link="{ name: 'comment' }" @click="storeVote(1)" class="flex-vote-item">
          <i class="fa fa-frown-o face-icon"></i>
        </a>
    </ul>
</template>

<style lang="css">
  .flex-vote-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-vote-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .face-icon {
    background-color: yellow;
    color: black;
    font-size: 15em;
  }
</style>

<script>
  import questionsStore from '../store/questions-store'
  import votesStore from '../store/votes-store'
  export default {
    data: function () {
      return {
        vote: {
          'comment': '',
          'rating': 0,
          'question_id': 0
        },
        question: {}
      }
    },
    route: {
      data: function (transition) {
        transition.next({
          'question': questionsStore.currentQuestion,
          'vote': {'question_id': questionsStore.currentQuestion.id }
        })
      },
      activate: function (transition) {
        if (!questionsStore.currentQuestion) {
          transition.abort('Cannot vote without first selecting question!')
        } else {
          transition.next()
        }
      }
    },
    methods: {
      storeVote: function (rating) {
        this.vote.rating = rating
        if (votesStore.currentVote) {
          return votesStore.update(this.vote).then(function (data) {
            console.log('Updated vote rating!')
          })
        } else {
          votesStore.currentVote = this.vote
          return votesStore.persist().then(function (data) {
            console.log('Created vote!')
          })
        }
      }
    }
  }
</script>